

/* #3498db;
#2b2e3d
#29323f*/

body,h1,h2,h3,h4,h5,h6,hr{
	margin:0;
	padding:0;
}

body{
	background: #2b2e3d;
}

strong{
	color:#e54b4b;
}

.header{
	padding: 40px 0;
	text-align: center;
	background: #2b2e3d;
}

.header-title{
	font-size: 40px;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	font-weight: 100;
}

/*flexboxes https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.wrapper{
	display: flex; 					/*flex container - This defines a flex container;*/
	flex-wrap: wrap;				/*flex container - flex items will wrap onto multiple lines, from top to bottom.*/
	justify-content: space-around;	/*flex container - items are evenly distributed in the line with equal space around them.*/
	padding:30px;
}

.description{
	margin-right: 20px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	font-weight: 100;
	text-transform: capitalize;
}

.months-of-life-calendar{
	width: 50%;
	justify-content:center;
}

.calendar-line{
	margin-bottom: 3px;
	height:18px;
}

.calendar-line-years{
	margin-right: 30px;
	color:#fff;
	opacity: 1;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	font-weight: 100;
}


.calendar-line-item{
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	width: 15px;
	height: 15px;
	border: 1px solid #e54b4b;
	border-radius: 15px;
	background: #2b2e3d;
	opacity: 1;
	box-sizing: border-box;
	-webkit-transition: border 0.3s; /* Safari */
}

.past{
	border: 1px solid #fff;
	opacity: 0.5;
}

.calendar-line-item:hover{
	border: 2px solid #e54b4b;
	opacity: 1;
	box-sizing: border-box;
	-webkit-transition: border 0.1s; /* Safari */
}